<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	th:replace="normal/base1::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>

<body>
	<section>
		
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h3 class="mb-3">Change Password</h3>
							
							<form th:action="@{/user/change-password}" method="post">
								
								<!--Old passsword field-->
								<div class="form-group">
									<input name="oldPassword" type="password" class="form-control mb-3" placeholder="Enter old password" required/>
								</div>
								
								<!--New passsword field-->
								<div class="form-group">
									<input name="newPassword" type="password" class="form-control mb-3" placeholder="Enter new password" required/>
								</div>
								
								<div class="container text-center">
									<button type="submit" class="btn btn-success">Change</button>
									<button type="reset" class="btn btn-warning">Reset</button>
								</div>
								
							</form>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<script>
			
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#settings-link").addClass("active");
			});
			
		</script>
		
	</section>
</body>

</html>