<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	th:replace="normal/base1::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>

<body>
	<section>
		
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Update Your profile</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
	</section>
</body>

</html>