<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>

	<!-- <style>
		/* Add your CSS styles here */
		body {
			font-family: Arial, sans-serif;
			background-color: #f0f0f0;
			margin: 0;
			padding: 0;
		}
	
		.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
	
		h1 {
			color: #333;
		}
	
		p {
			color: #666;
		}
	</style> -->

</head>

<body>
	<section class="banner1 d-flex">

		<div class="container my-3">
			<h1 class="text-center mb-2">About Us</h1>
			<p>Welcome to the About page of the Smart Contact Manager application. Our platform is meticulously crafted
				to empower you in efficiently managing your contacts. This cloud-based smart contact manager offers the
				convenience of
				accessing your contacts from anywhere, underscoring the utmost importance of data security through a
				robust login module. Our commitment to your privacy is unwavering.

				Implemented user registration and authentication functionalities, ensuring a personalized experience for
				each user while maintaining privacy.

				Designed and integrated features allowing users to effortlessly Add, View, Update, and Delete contacts,
				enhancing contact management efficiency.

				Created a user-friendly profile section enabling users to view and modify their details, including the
				ability to change account passwords, further enhancing security measures.

				Successfully contributed to the application's functionality to provide a smooth and intuitive
				experience, enhancing overall user satisfaction.
				We've integrated user-friendly features for seamless
				interaction. Here are some key
				features:</p>

			<h2>Key Features</h2>
			<ul>
				<li><b>Registration and Authentication:</b> Our system provides a personalized experience, ensuring the
					security and uniqueness of your account.</li>
				<li><b>Contact Management:</b> Adding, viewing, updating, and deleting contacts is intuitive,
					streamlining your contact management tasks.</li>
				<li><b>Profile Section:</b> Take control of your information with our user-friendly profile section. You
					can effortlessly view and modify your details, including changing your account password, further
					fortifying your account's security.</li>
			</ul>

			<h2>Technologies Used</h2>
			<ul>
				<li>Java</li>
				<li>Spring Boot</li>
				<li>Spring MVC</li>
				<li>Spring Security</li>
				<li>Spring Data JPA</li>
				<li>MySQL</li>
				<li>Maven and Thymeleaf</li>
			</ul>

			<h2>Developers</h2>
			<p>This application is developed by:</p>
			<ul>
				<li><a
						href="https://saurabhjha75.github.io/saurabhkumarjha.github.io/?fbclid=IwAR3TsJ7OZCG7RCk69CJ5AZ70DlqESksMb0vNhiKIt5S53xM-HW77bRpCJH4">Saurabh
						Kumar Jha</a></li>
				<!-- Add more developers if needed -->
			</ul>

			<p>Our team is dedicated to continuously enhancing the application's functionality, ensuring a smooth and
				intuitive experience for all users. Your satisfaction is our priority. If you have any queries,
				feedback, or need support, please feel free to reach out to me.</p>

			<div class="container text-center">

				<h2 class="mb-3">Contact Us</h2>
				<a href="mailto:saurabhkumarjha525@gmail.com"><i class="fa-regular fa-envelope fa-xl icon-gap"></i></a>
				<a href="https://www.linkedin.com/in/saurabh-kumar-jha-b623951b0/"><i
						class="fa-brands fa-linkedin fa-xl icon-gap"></i></a>
				<a href="https://github.com/SaurabhJha75"><i class="fa-brands fa-github fa-xl icon-gap"></i></a>
				<a href="https://www.facebook.com/saurabh.kumarjha.129/"><i
						class="fa-brands fa-facebook fa-xl icon-gap"></i></a>
			</div>

		</div>

	</section>
</body>

</html>