<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>

<body>
	<section class="banner d-flex">

		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-3">

						<h3 class="text-center mb-3">Enter new password</h3>

						<form th:action="@{/change-password}" method="post">
							<div class="form-group mb-3">
								<input type="password" name="newpassword" class="form-control"
									placeholder="Enter your new password" required />
							</div>

							<div class="container text-center">
								<button class="cta-button btn btn-success">Change Password</button>
							</div>

						</form>

					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>