<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>

<body>
	<section class="banner d-flex vh-100" style="background-color: #e2e2e2;">
		<div class="container py-2 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-xl-10">
					<div class="card" style="border-radius: 1rem;">

						<!--Displaying the message-->
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>

							<!--Removing the message form session-->
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						</div>

						<div class="row g-0">
							<div class="col-md-6 col-lg-5 d-none d-md-block">
								<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
									alt="Sample photo" class="img-fluid"
									style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
								<!--<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />-->
							</div>
							<div class="col-md-6 col-lg-7 d-flex align-items-center">
								<div class="card-body p-4 p-lg-5 text-black">

									<form novalidate th:action="@{/do_register}" method="post" th:object="${user}">

										<div class="d-flex align-items-center mb-3 pb-1">
											<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
											<span class="h1 fw-bold mb-0">Smart Contact Manager</span>
										</div>

										<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Start your Journey:
											Register for Free! </h5>

										<!-- name field-->
										<div class="mb-3">

											<label for="name_field" class="form-label">Your Name</label>
											<input name="name" type="text" class="form-control" id="name_field"
												aria-describedby="emailHelp" placeholder="Enter here"
												th:value="${user.name}"
												th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
												required />

											<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}"
												th:text="${e}">
											</div>

										</div>

										<!--Email field-->
										<div class="mb-3">

											<label for="email_field" class="form-label">Your Email</label>
											<input name="email" type="email" class="form-control" id="email_field"
												aria-describedby="emailHelp" placeholder="Enter here"
												th:value="${user.email}"
												th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
												required />

											<div class="invalid-feedback" th:each="e : ${#fields.errors('email')}"
												th:text="${e}">
											</div>

										</div>

										<!--Password Field-->
										<div class="mb-3">

											<label for="password_field" class="form-label">Your Password</label>
											<input name="password" type="password" class="form-control"
												id="password_field" aria-describedby="emailHelp"
												placeholder="Enter here" th:value="${user.password}"
												th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
												required />

											<div class="invalid-feedback" th:each="e : ${#fields.errors('password')}"
												th:text="${e}"></div>

										</div>


										<!--user about field-->
										<div class="mb-3">
											<textarea name="about" placeholder="Enter something about yourself" rows="6"
												class="form-control" th:value="${user.about}"
												th:classappend="${#fields.hasErrors('about') ? 'is-invalid' : ''}"></textarea>

											<div class="invalid-feedback" th:each="e : ${#fields.errors('about')}"
												th:text="${e}">
											</div>
										</div>

										<!--terms and condition agreements-->
										<div class="mb-3 form-check">

											<label for="agreement">Accepts terms and conditions</label>
											<input type="checkbox" name="agreement" class="form-check-input"
												id="agreement" />

										</div>


										<div class="pt-1 mb-4">
											<button class="btn btn-dark btn-lg btn-block col-md-12"
												type="submit">Register</button>
										</div>

										<!-- <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block col-md-12" type="submit">Reset</button>
                  </div>
-->
										<p class="mb-5 pb-lg-2" style="color: #393f81;">Already registered? <a
												th:href="@{/signin}" style="color: #393f81;">Login here</a></p>
										<a href="#!" class="small text-muted">Terms of use.</a>
										<a href="#!" class="small text-muted">Privacy policy</a>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>